// colors
// text
$white: #FFFFFF;
$black: #202020;
$dark-grey: #AEAEAE;
$light-blue: #2FA6F1;
$lime-green: #1AFF12;


// fontsize
$nav-font-size: 1.5em;
$title-font-size: 4em;

// media query
$tablet: 670px;
$desktop: 940px;