@import './reset';
@import './variables';
@import './include-media';

// components
@import '../components/navigation/navigation';

// all pages styles will be placed here.
// body-container
.body-container {
    display: flex;
    flex-direction: column;
    // background-image:  url(../assets/images/bg-bawah.png);
    // background-position: bottom right;
    // background-repeat:  no-repeat;
    // background-size: auto;
    min-height: 100vh;
    min-width: 100%;
    overflow: hidden;
    padding: 1.5em 3em;
    
    @include media('<#{$tablet}') {
        padding: 0em;
    }
}

// nav
@include navigationM;

// main
main {
    margin: 2em;
    padding: 1em;
    
    @include media('<#{$tablet}') {
        margin: 1em 0 0;
        padding: 0;
    }

    .heading {
        text-align: center;
        font-weight: bold;
        margin-bottom: 2em;
    }
}