@mixin navigationM {
    header{
        nav{
            // background-color: #404040;
            ul{
                display: flex;
                
                a{
                    color: $black;
                    text-decoration: none;
                    display: inline-block;
                    min-height: 44px;
                    padding: 1em;
                    margin-right: 1em;
                    transition: .5s color;

                    &:hover{
                        color: $dark-grey;
                    }
                }
            }
        }
    }
}